body{
    /* background: rgba(225,225,225,.4 ) */
    background-color:   ;
}
.modal{
    position: fixed!important;
    top: 50%;
    left: 50%;
    /* width: 300px; */
    transform: translate(-50%,-50%) scale(0)  ;
    transition: 150ms ease-in-out;
    padding: 20px;
    z-index: 999;
    border-radius: 20px;
  }

  .modal-show {
    transform: translate(-50%, -50%) scale(1);

  }

  .overlay {
    display: block;
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1D3045;
    z-index: 1;
    /* backdrop-filter: blur(2px); */
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
  }
  
  .message-enter {
    opacity: 0;
  }
  
  .message-enter-active {
    opacity: 1;
    transition: opacity 500ms;
    position: absolute;
    top:100px
  }